@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498DB;
}

.box_container{
  background-color: #fff;
  max-width: 410px;
  border-radius: 7px;
  padding: 16px 25px;
  height: 260px;
  transition: height 0.2s ease;
}

.box_container.active{
 height: 530px;
}

.qr_header h1{
  font-size: 21px;
  font-weight: 600;
}
.qr_header p{
  font-size: 16px;
  color: #474747;
  margin-top: 5px;
}

.form{
  margin: 20px 0 25px;
}

.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
}
.form button{
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  background-color: #3498DB;
}
.qr_code{
  display: flex;
  padding: 33px 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  opacity: 0;
  pointer-events: none;
}

.box_container.active .qr_code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.5s ease;
}